body {
  --button-bg-color: #348aa7;
  --button-border-color: #166e84;
}
html {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235, 235, 235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
  background-color: rgb(245, 245, 245);
}

caption {
  padding: 10px;
}

.users-input-container {
  max-width: 600px;
  background-color: #eee;
  padding: 12px;
  box-sizing: border-box;
}

.users-input-container > form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.btn-new-book {
  width: 10rem;
  margin-inline: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.button-add {
  display: inline-block;
  padding: 15px;
  margin-right: 5px;
  height: 50px;
  min-width: 100px;
  background: var(--button-bg-color);
  border: none;
  outline: none;
  color: white;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  border-radius: 3px;
  box-shadow: 0 5px 0px darken(var(--button-bg-color), 0%);
  border-bottom: 2px solid darken(var(--button-bg-color), 3%);
}

.button-add:hover {
  transform: translateY(1px);
  border-bottom: 2px solid darken(var(--button-bg-color), 8%);
  filter: brightness(85%);
  transition: all 0.1s ease-in;
}

.button-add:active {
  transform: translateY(4px);
  border-bottom-width: 2px;
  box-shadow: none;
}

.modal-background {
  display: none; 
  position: fixed; /* Stay in place */
  z-index: 1; 
  left: 0;
  top: 0;
  align-content: center;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-close:hover{
  cursor: pointer;
}

.modal {
  position: relative;
  display: inline-block;
  background-color: #fefefe;
  margin-inline: auto;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
